In [2]:
from __future__ import print_function, division

# Standard imports to work with datasets, plots, etc.
import pylab as pl
import pandas as pd
import geopandas as gpd
import numpy as np
import os
import json
import requests
import urllib2
from getCitiBikeCSV import getCitiBikeCSV
from get_jsonparsed_data import get_jsonparsed_data
from pandas.tools.plotting import scatter_matrix
import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy.stats as stats
from scipy.interpolate import *

#loading rcParams from JSON template (created from Federica's fbb_matplotlibrc.json)
url = 'https://s3.amazonaws.com/sb-public/sbg389_matplotlibrc.json'
resp = requests.get(url=url)
data = json.loads(resp.text)
# update the rcParams object
pl.rcParams.update(data)

#loading API Keys
jsondata = open("keys.json").read()
keys = json.loads(jsondata)

In [21]:
df = pd.DataFrame()
df['columna']=np.zeros(5)
df

   columna
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0

In [23]:
df['randomnumber']=np.random.poisson(size=5)
df
df.head(6)

   columna  randomnumber
0      0.0             1
1      0.0             0
2      0.0             3
3      0.0             2
4      0.0             1

In [25]:
df.set_value(5,'randomnumber',3)

   columna  randomnumber
0      0.0           1.0
1      0.0           0.0
2      0.0           3.0
3      0.0           2.0
4      0.0           1.0
5      NaN           3.0

In [32]:
# Set for all rows with randomnumber equals 3 a columna value of 1
df['columna'][(df['randomnumber'] == 1) & 
           (df['columna'] == 0)] = 1

In [33]:
df

   columna  randomnumber
0      1.0           1.0
1      0.0           0.0
2      1.0           3.0
3      0.0           2.0
4      1.0           1.0
5      NaN           3.0