## Assignment 2: Gender Income Gap

This notebook presents a an analysis of the gender income gap based on the US Census data from

http://www.census.gov/hhes/www/cpstables/032015/perinc/pinc03_000.htm

We will be be using the data to try to build a -morally questionable- model to support the decission on "what to offer to a woman job candidate, given what is offered to a man for the same job?"

This notebook is based on the skeleton notebook from FBB:

https://github.com/fedhere/PUI2016_fb55/blob/master/HW5_fb55/genderIncomeBias.ipynb

In [5]:
# Standard imports to work with datasets, plots, distributions, etc.
import pylab as pl
import pandas as pd
import numpy as np
import os

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [30]:
# Defining structures and getting the data
# We will create two dictionaries to store all data (allmen and allwomen)

# Base URL for the data store
url = "http://cosmo.nyu.edu/~fb55/PUI2016/data/"

# File Coding
# 08_2 are male,
# 08_3 are female,
# _1_1 is all ethnicities
# _1_4 is white
# _1_6 is black
# _1_8 is asian
# _1_9 is hispanic

# Using the pandas read from excel method to create the dataframes
# Will read directly the xls files, skipping the first eight rows

dfMenAll = pd.read_excel(url + 'pinc08_2_1_1.xls', skiprows=[0,1,2,3,4,5,6,7,8])
dfMenWhite = pd.read_excel(url + 'pinc08_2_1_4.xls', skiprows=[0,1,2,3,4,5,6,7,8])
dfMenBlack = pd.read_excel(url + 'pinc08_2_1_6.xls', skiprows=[0,1,2,3,4,5,6,7,8])
dfMenHispanic = pd.read_excel(url + 'pinc08_2_1_8.xls', skiprows=[0,1,2,3,4,5,6,7,8])
dfMenAsian = pd.read_excel(url + 'pinc08_2_1_9.xls', skiprows=[0,1,2,3,4,5,6,7,8])

dfWomenAll = pd.read_excel(url + 'pinc08_3_1_1.xls', skiprows=[0,1,2,3,4,5,6,7,8])
dfWomenWhite = pd.read_excel(url + 'pinc08_3_1_4.xls', skiprows=[0,1,2,3,4,5,6,7,8])
dfWomenBlack = pd.read_excel(url + 'pinc08_3_1_6.xls', skiprows=[0,1,2,3,4,5,6,7,8])
dfWomenHispanic = pd.read_excel(url + 'pinc08_3_1_8.xls', skiprows=[0,1,2,3,4,5,6,7,8])
dfWomenAsian= pd.read_excel(url + 'pinc08_3_1_9.xls', skiprows=[0,1,2,3,4,5,6,7,8])

allmales = {'all':dfMenAll, 'white':dfMenWhite, 'black':dfMenBlack, 'hispanic':dfMenHispanic, 'asian':dfMenAsian}
allfemales = {'all':dfWomenAll, 'white':dfWomenWhite, 'black':dfWomenBlack, 
             'hispanic':dfWomenHispanic, 'asian':dfWomenAsian}

allfemales['all'].head()

,Characteristic,Total with Income,"$1 to $2,499 or loss","$2,500 to $4,999","$5,000 to $7,499","$7,500 to $9,999","$10,000 to $12,499","$12,500 to $14,999","$15,000 to $17,499","$17,500 to $19,999",...,"$92,500 to $94,999","$95,000 to $97,499","$97,500 to $99,999","$100,000 and over",Median income,Unnamed: 44,Mean income,Unnamed: 46,Gini ratio,Unnamed: 48
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Value\n(Dol.),Standard\nerror (Dol.),Value\n(Dol.),Standard\nerror (Dol.),Ratio,Standard\nerror
1,....Total,109956.0,7590.0,4298.0,5557.0,7874.0,8052.0,5720.0,6768.0,4377.0,...,167.0,285.0,184.0,4442.0,22063,137,31968,250,0.495,0.0025
2,Earnings,74545.0,4198.0,3118.0,3269.0,2662.0,4579.0,1994.0,4134.0,2585.0,...,60.0,236.0,127.0,3535.0,27736,364,36189,307,0.466,0.0032
3,..Wages and Salary,71220.0,3835.0,2954.0,3005.0,2411.0,4309.0,1941.0,3908.0,2484.0,...,61.0,233.0,126.0,3370.0,28402,379,36412,316,0.461,0.0032
4,..Nonfarm Self-Employment,4694.0,1282.0,288.0,410.0,253.0,388.0,84.0,265.0,126.0,...,0.0,0.0,0.0,127.0,10732,399,20942,1123,0.65,0.0162

In [29]:
# the files are a bit of a mess! 
allfemales['all'].columns

# just run this cell to get an idea of the data
for k,v in allfemales.items():
    print("#####", k)
    print(v.describe())
for k,v in allmales.items():
    print("#####", k)
    print(v.describe())

('#####', 'hispanic')
       Total with Income  $1 to $2,499 or loss  $2,500 to $4,999  \
count          46.000000             46.000000         46.000000
mean          809.478261            150.347826         42.413043
std          1476.967354            439.113765         59.593652
min             2.000000              0.000000          0.000000
25%                  NaN                   NaN               NaN
50%                  NaN                   NaN               NaN
75%                  NaN                   NaN               NaN
max          5648.000000           2178.000000        224.000000

       $5,000 to $7,499  $7,500 to $9,999  $10,000 to $12,499  \
count         46.000000         46.000000           46.000000
mean          53.934783         59.434783           56.717391
std           82.427989         95.528623           93.491215
min            0.000000          0.000000            0.000000
25%                 NaN               NaN                 NaN
50%                 NaN               NaN                 NaN
75%                 NaN               NaN                 NaN
max          353.000000        348.000000          342.000000

       $12,500 to $14,999  $15,000 to $17,499  $17,500 to $19,999  \
count           46.000000           46.000000           46.000000
mean            32.239130           31.608696           27.608696
std             56.226204           64.573637           56.176895
min              0.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max            203.000000          241.000000          211.000000

       $20,000 to $22,499        ...          $77,500 to $79,999  \
count           46.000000        ...                   46.000000
mean            34.695652        ...                    1.130435
std             77.929561        ...                    3.283688
min              0.000000        ...                    0.000000
25%                   NaN        ...                         NaN
50%                   NaN        ...                         NaN
75%                   NaN        ...                         NaN
max            272.000000        ...                   12.000000

       $80,000 to $82,499  $82,500 to $84,999  $85,000 to $87,499  \
count           46.000000           46.000000           46.000000
mean             8.260870            0.652174            3.847826
std             23.089617            2.311492           11.081451
min              0.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max             75.000000           14.000000           37.000000

       $87,500 to $89,999  $90,000 to $92,499  $92,500 to $94,999  \
count           46.000000           46.000000           46.000000
mean             1.065217            5.673913            0.804348
std              2.807942           15.473353            2.343972
min              0.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max             11.000000           53.000000            8.000000

       $95,000 to $97,499  $97,500 to $99,999  $100,000 and over
count           46.000000           46.000000          46.000000
mean             2.413043            0.782609          41.869565
std              6.794037            2.086071         119.960847
min              0.000000            0.000000           0.000000
25%                   NaN                 NaN                NaN
50%                   NaN                 NaN                NaN
75%                   NaN                 NaN                NaN
max             22.000000           10.000000         414.000000

[8 rows x 42 columns]
('#####', 'all')
       Total with Income  $1 to $2,499 or loss  $2,500 to $4,999  \
count          46.000000             46.000000         46.000000
mean        17383.000000           2971.826087       1010.608696
std         28945.070201           7604.959824       1190.210877
min            84.000000              0.000000          6.000000
25%                  NaN                   NaN               NaN
50%                  NaN                   NaN               NaN
75%                  NaN                   NaN               NaN
max        109956.000000          38367.000000       4298.000000

       $5,000 to $7,499  $7,500 to $9,999  $10,000 to $12,499  \
count         46.000000         46.000000           46.000000
mean        1148.869565       1470.391304         1469.478261
std         1569.333455       2365.722680         2502.601125
min            0.000000          2.000000            0.000000
25%                 NaN               NaN                 NaN
50%                 NaN               NaN                 NaN
75%                 NaN               NaN                 NaN
max         5557.000000       7874.000000         8704.000000

       $12,500 to $14,999  $15,000 to $17,499  $17,500 to $19,999  \
count           46.000000           46.000000           46.000000
mean          1027.608696         1020.934783          661.500000
std           1798.393820         1899.380875         1222.052367
min              2.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max           5733.000000         6797.000000         4377.000000

       $20,000 to $22,499        ...          $77,500 to $79,999  \
count           46.000000        ...                   46.000000
mean           772.347826        ...                   32.282609
std           1608.334076        ...                   89.287964
min              0.000000        ...                    0.000000
25%                   NaN        ...                         NaN
50%                   NaN        ...                         NaN
75%                   NaN        ...                         NaN
max           5745.000000        ...                  438.000000

       $80,000 to $82,499  $82,500 to $84,999  $85,000 to $87,499  \
count           46.000000           46.000000           46.000000
mean           103.869565           25.043478           48.782609
std            290.832874           75.740186          138.018664
min              0.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max            939.000000          394.000000          496.000000

       $87,500 to $89,999  $90,000 to $92,499  $92,500 to $94,999  \
count           46.000000           46.000000           46.000000
mean            18.521739           53.913043           11.021739
std             54.524098          150.334416           31.324459
min              0.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max            245.000000          497.000000          167.000000

       $95,000 to $97,499  $97,500 to $99,999  $100,000 and over
count           46.000000           46.000000          46.000000
mean            29.130435           25.391304         416.152174
std             80.170266           46.141559        1172.306539
min              0.000000            0.000000           0.000000
25%                   NaN                 NaN                NaN
50%                   NaN                 NaN                NaN
75%                   NaN                 NaN                NaN
max            285.000000          184.000000        4442.000000

[8 rows x 42 columns]
('#####', 'black')

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

       Total with Income  $1 to $2,499 or loss  $2,500 to $4,999  \
count          46.000000             46.000000         46.000000
mean         2120.260870            292.304348        141.021739
std          3673.947011            563.958859        181.001595
min             0.000000              0.000000          0.000000
25%                  NaN                   NaN               NaN
50%                  NaN                   NaN               NaN
75%                  NaN                   NaN               NaN
max         14346.000000           2727.000000        679.000000

       $5,000 to $7,499  $7,500 to $9,999  $10,000 to $12,499  \
count         46.000000         46.000000           46.000000
mean         140.934783        229.456522          179.021739
std          203.026917        371.274843          321.057730
min            0.000000          0.000000            0.000000
25%                 NaN               NaN                 NaN
50%                 NaN               NaN                 NaN
75%                 NaN               NaN                 NaN
max          768.000000       1344.000000         1117.000000

       $12,500 to $14,999  $15,000 to $17,499  $17,500 to $19,999  \
count           46.000000           46.000000           46.000000
mean           132.282609          133.239130           81.956522
std            237.023455          266.577084          157.655596
min              0.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max            863.000000          971.000000          597.000000

       $20,000 to $22,499        ...          $77,500 to $79,999  \
count           46.000000        ...                   46.000000
mean            95.173913        ...                    3.739130
std            218.244848        ...                   10.350383
min              0.000000        ...                    0.000000
25%                   NaN        ...                         NaN
50%                   NaN        ...                         NaN
75%                   NaN        ...                         NaN
max            791.000000        ...                   43.000000

       $80,000 to $82,499  $82,500 to $84,999  $85,000 to $87,499  \
count           46.000000           46.000000           46.000000
mean             8.826087            1.695652            5.369565
std             25.586719            4.736945           14.556188
min              0.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max             88.000000           17.000000           52.000000

       $87,500 to $89,999  $90,000 to $92,499  $92,500 to $94,999  \
count           46.000000           46.000000           46.000000
mean             2.304348            5.239130            0.652174
std              6.636162           14.922295            1.934682
min              0.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max             25.000000           51.000000            8.000000

       $95,000 to $97,499  $97,500 to $99,999  $100,000 and over
count           46.000000           46.000000          46.000000
mean             3.304348            1.847826          26.782609
std              9.086913            4.866974          76.417541
min              0.000000            0.000000           0.000000
25%                   NaN                 NaN                NaN
50%                   NaN                 NaN                NaN
75%                   NaN                 NaN                NaN
max             30.000000           22.000000         294.000000

[8 rows x 42 columns]
('#####', 'white')
       Total with Income  $1 to $2,499 or loss  $2,500 to $4,999  \
count          46.000000             46.000000         46.000000
mean        12310.782609           2214.586957        673.413043
std         19885.397175           5970.622977        776.907047
min            76.000000              0.000000          4.000000
25%                  NaN                   NaN               NaN
50%                  NaN                   NaN               NaN
75%                  NaN                   NaN               NaN
max         74382.000000          30286.000000       2583.000000

       $5,000 to $7,499  $7,500 to $9,999  $10,000 to $12,499  \
count         46.000000         46.000000           46.000000
mean         781.195652        971.630435         1036.956522
std         1023.663283       1566.965750         1730.981173
min            0.000000          0.000000            0.000000
25%                 NaN               NaN                 NaN
50%                 NaN               NaN                 NaN
75%                 NaN               NaN                 NaN
max         3570.000000       4861.000000         5943.000000

       $12,500 to $14,999  $15,000 to $17,499  $17,500 to $19,999  \
count           46.000000           46.000000           46.000000
mean           748.043478          731.434783          465.478261
std           1308.146033         1322.035109          832.846011
min              2.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max           4051.000000         4680.000000         2896.000000

       $20,000 to $22,499        ...          $77,500 to $79,999  \
count           46.000000        ...                   46.000000
mean           524.021739        ...                   25.434783
std           1025.066989        ...                   69.811381
min              0.000000        ...                    0.000000
25%                   NaN        ...                         NaN
50%                   NaN        ...                         NaN
75%                   NaN        ...                         NaN
max           3676.000000        ...                  351.000000

       $80,000 to $82,499  $82,500 to $84,999  $85,000 to $87,499  \
count           46.000000           46.000000           46.000000
mean            78.586957           20.326087           35.000000
std            219.951669           61.812280           99.392376
min              0.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max            709.000000          326.000000          365.000000

       $87,500 to $89,999  $90,000 to $92,499  $92,500 to $94,999  \
count           46.000000           46.000000           46.000000
mean            14.347826           39.195652            9.043478
std             42.799386          109.973253           25.948630
min              0.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max            196.000000          371.000000          146.000000

       $95,000 to $97,499  $97,500 to $99,999  $100,000 and over
count           46.000000           46.000000          46.000000
mean            21.456522           21.152174         318.065217
std             59.811447           36.467317         891.358773
min              0.000000            0.000000           0.000000
25%                   NaN                 NaN                NaN
50%                   NaN                 NaN                NaN
75%                   NaN                 NaN                NaN
max            220.000000          145.000000        3426.000000

[8 rows x 42 columns]
('#####', 'asian')
       Total with Income  $1 to $2,499 or loss  $2,500 to $4,999  \
count          46.000000             46.000000         46.000000
mean         1908.739130            274.282609        137.717391
std          3688.718088            568.547923        199.157298
min             1.000000              0.000000          0.000000
25%                  NaN                   NaN               NaN
50%                  NaN                   NaN               NaN
75%                  NaN                   NaN               NaN
max         14034.000000           2704.000000        783.000000

       $5,000 to $7,499  $7,500 to $9,999  $10,000 to $12,499  \
count         46.000000         46.000000           46.000000
mean         154.043478        188.913043          175.173913
std          259.111813        321.948569          341.577016
min            0.000000          0.000000            0.000000
25%                 NaN               NaN                 NaN
50%                 NaN               NaN                 NaN
75%                 NaN               NaN                 NaN
max         1009.000000       1201.000000         1265.000000

       $12,500 to $14,999  $15,000 to $17,499  $17,500 to $19,999  \
count           46.000000           46.000000           46.000000
mean           101.521739          111.608696           81.500000
std            199.519394          262.090610          192.057948
min              0.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max            750.000000          953.000000          691.000000

       $20,000 to $22,499        ...          $77,500 to $79,999  \
count           46.000000        ...                   46.000000
mean           108.608696        ...                    1.847826
std            281.066104        ...                    5.513488
min              0.000000        ...                    0.000000
25%                   NaN        ...                         NaN
50%                   NaN        ...                         NaN
75%                   NaN        ...                         NaN
max            956.000000        ...                   25.000000

       $80,000 to $82,499  $82,500 to $84,999  $85,000 to $87,499  \
count           46.000000           46.000000           46.000000
mean             6.130435            1.739130            3.652174
std             16.899190            5.152927           10.575060
min              0.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max             57.000000           22.000000           34.000000

       $87,500 to $89,999  $90,000 to $92,499  $92,500 to $94,999  \
count           46.000000           46.000000           46.000000
mean             0.565217            3.804348            0.260870
std              2.093930           10.114060            0.929391
min              0.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max             13.000000           35.000000            5.000000

       $95,000 to $97,499  $97,500 to $99,999  $100,000 and over
count           46.000000           46.000000          46.000000
mean             1.739130            0.804348          22.586957
std              5.079085            1.927803          65.337951
min              0.000000            0.000000           0.000000
25%                   NaN                 NaN                NaN
50%                   NaN                 NaN                NaN
75%                   NaN                 NaN                NaN
max             20.000000            6.000000         239.000000

[8 rows x 42 columns]
('#####', 'hispanic')
       Total with Income  $1 to $2,499 or loss  $2,500 to $4,999  \
count          46.000000             46.000000         46.000000
mean          829.956522            133.847826         35.782609
std          1601.936009            422.415434         49.986182
min             0.000000              0.000000          0.000000
25%                  NaN                   NaN               NaN
50%                  NaN                   NaN               NaN
75%                  NaN                   NaN               NaN
max          5752.000000           2075.000000        159.000000

       $5,000 to $7,499  $7,500 to $9,999  $10,000 to $12,499  \
count         46.000000         46.000000           46.000000
mean          34.304348         35.152174           39.434783
std           51.598824         49.727688           60.445624
min            0.000000          0.000000            0.000000
25%                 NaN               NaN                 NaN
50%                 NaN               NaN                 NaN
75%                 NaN               NaN                 NaN
max          227.000000        195.000000          216.000000

       $12,500 to $14,999  $15,000 to $17,499  $17,500 to $19,999  \
count           46.000000           46.000000           46.000000
mean            27.282609           32.521739           30.347826
std             47.513115           63.901570           56.939819
min              0.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max            193.000000          238.000000          218.000000

       $20,000 to $22,499        ...          $77,500 to $79,999  \
count           46.000000        ...                   46.000000
mean            26.695652        ...                    2.826087
std             52.321175        ...                    7.860745
min              0.000000        ...                    0.000000
25%                   NaN        ...                         NaN
50%                   NaN        ...                         NaN
75%                   NaN        ...                         NaN
max            193.000000        ...                   28.000000

       $80,000 to $82,499  $82,500 to $84,999  $85,000 to $87,499  \
count           46.000000           46.000000           46.000000
mean            11.869565            3.956522            5.543478
std             33.027671           10.656154           16.082712
min              0.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max            109.000000           38.000000           54.000000

       $87,500 to $89,999  $90,000 to $92,499  $92,500 to $94,999  \
count           46.000000           46.000000           46.000000
mean             1.543478           10.500000            3.152174
std              4.815284           30.400841            9.140794
min              0.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max             24.000000           97.000000           32.000000

       $95,000 to $97,499  $97,500 to $99,999  $100,000 and over
count           46.000000           46.000000          46.000000
mean             3.391304            2.978261          94.108696
std              9.940888            6.977708         268.500712
min              0.000000            0.000000           0.000000
25%                   NaN                 NaN                NaN
50%                   NaN                 NaN                NaN
75%                   NaN                 NaN                NaN
max             40.000000           23.000000         904.000000

[8 rows x 42 columns]
('#####', 'all')
       Total with Income  $1 to $2,499 or loss  $2,500 to $4,999  \
count          46.000000             46.000000         46.000000
mean        17366.934783           2607.456522        762.913043
std         29751.997461           7375.583670        909.366955
min            22.000000              1.000000          3.000000
25%                  NaN                   NaN               NaN
50%                  NaN                   NaN               NaN
75%                  NaN                   NaN               NaN
max        108706.000000          37209.000000       3250.000000

       $5,000 to $7,499  $7,500 to $9,999  $10,000 to $12,499  \
count         46.000000         46.000000           46.000000
mean         736.304348        783.565217          876.347826
std          922.492562       1067.424598         1298.941402
min            3.000000          0.000000            0.000000
25%                 NaN               NaN                 NaN
50%                 NaN               NaN                 NaN
75%                 NaN               NaN                 NaN
max         3200.000000       4027.000000         4672.000000

       $12,500 to $14,999  $15,000 to $17,499  $17,500 to $19,999  \
count           46.000000           46.000000           46.000000
mean           734.782609          967.130435          771.086957
std           1186.481145         1647.788169         1336.347789
min              0.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max           3893.000000         6218.000000         4823.000000

       $20,000 to $22,499        ...          $77,500 to $79,999  \
count           46.000000        ...                   46.000000
mean           879.760870        ...                   55.434783
std           1616.534416        ...                  150.424976
min              0.000000        ...                    0.000000
25%                   NaN        ...                         NaN
50%                   NaN        ...                         NaN
75%                   NaN        ...                         NaN
max           5958.000000        ...                  678.000000

       $80,000 to $82,499  $82,500 to $84,999  $85,000 to $87,499  \
count           46.000000           46.000000           46.000000
mean           202.630435           49.673913          107.130435
std            550.701870          125.726521          296.003349
min              0.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN
50%                   NaN                 NaN                 NaN
75%                   NaN                 NaN                 NaN
max           1878.000000          562.000000         1024.000000

       $87,500 to $89,999  $90,000 to $92,499  $92,500 to $94,999  \
count           46.000000           46.000000           46.000000
mean            39.043478          131.326087           37.347826
std            103.969858          364.476858          106.329303
min              0.000000            0.000000            0.000000
25%                   NaN                 NaN                 NaN